* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #F5F7FB;
}

#root {
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

/*******Welcome Screen *********/

.welcome {
    text-align: center;
    color: #293264;

}

.title {
    font-size: 2.5rem;
}

.start-btn,
.score-btn {
    width: 193px;
    height: 52px;
    left: 179px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color: #F5F7FB;
    font-size: 1.5rem;
    margin-top: 1.25em;
    cursor: pointer;
    padding: 1rem;
}

.start-btn:focus {
    outline: none;
}

.start-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

main {
    width: 80%;
    max-width: 900px;
    /* border: 1px solid red; */
}

/*******Question component*********/

.question-container {
    width: 100%;
    color: #293264;
    padding: 1em;
    /* border: 1px solid red; */
}

.question--title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5em;
}

.question-options {
    display: flex;
}

.option {
    text-align: center;
    border: 1px solid #293264;
    border-radius: 10px;
    min-width: 100px;
    padding: .35em;
    margin-right: .5em;
    cursor: pointer;
}

hr {
    margin: 1em 0;
}

.score-btn {
    margin: 2em auto;
}
